{
  "extends": [
    "standard",
    "standard-jsx",
    "plugin:vue/recommended"
  ],
  "globals": {
    // Web API
    "Image": "readonly",
    "XMLHttpRequest": "readonly",
  },
  "ignorePatterns": ["lib/*.js"],
  "rules": {
    "no-unused-vars": "off"
  },
  "root": true,
  "env": {
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
}
