{
  "extends": ["standard", "standard-jsx"],
  "globals": {
    "Vue": "readonly",
    "MetricQHistory": "readonly",
    // Web API
    "Image": "readonly",
    "XMLHttpRequest": "readonly"
  },
  "rules": {
    "no-unused-vars": "off",
    "no-import-assign": "off"
  }
}
