<!DOCTYPE html5>
<html>
<head>
<meta charset="utf8" />
<title>MetricQ WebView</title>
<link rel="icon" href="img/icons/graph-up.svg" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/style.css" />
<script src="lib/vue.js"></script>
<script src="lib/plotly.min.js"></script>
<script src="lib/pseudo-crc32.js"></script>
<script src="lib/color-conversion.js"></script>
<script src="lib/jsurl.js"></script>
<script src="js/MetricQWebView.js"></script>
<script src="js/MetricHandler.js"></script>
<script src="js/presets.js"></script>
<script src="js/metric.js"></script>
<script src="js/colorchooser.js"></script>
<script src="js/configuration.js"></script>

</head>
<body>
<div class="row_head">
  <div class="wrapper_logo">
    <img src="img/metricq-logo.png" width="150" height="150" />
  </div>
  <div class="wrapper_headoptions">
    <button class="btn btn-primary button_head" id="button_configuration">
      <img src="img/icons/tools.svg" width="28" height="28" />
      Einstellungen
    </button><br/>
    <button class="btn btn-primary button_head" id="button_export">
      <img src="img/icons/file-earmark-arrow-down.svg" width="28" height="28" />
      Export
    </button>
  </div>
</div>
<div class="row_body">
</div>
<div class="row_foot">
	<ul id="legend_list">
		<metric-legend
		  v-for="metric in metricsList"
		  v-bind:metric="metric"
		  v-bind:key="metric.name"
		  ></metric-legend>
	</ul>
	<div id="wrapper_popup_legend">
		<metric-popup
		  v-for="metric in metricsList"
		  v-bind:metric="metric"
		  v-bind:key="metric.popupKey"
		  v-if="metric.popup"
		  ></metric-popup>
	</div>
	<div id="wrapper_popup_configuration">
		<configuration-popup
		  v-bind:config="config"
		  v-bind:key="config.key"
		  v-if="config.popup"
		  ></configuration-popup>
	</div>
	<div id="wrapper_popup_xaxis">
		<xaxis-popup
		  v-bind:globalPopup="globalPopup"
		  v-if="globalPopup.xaxis"
		  ></xaxis-popup>
	</div>
	<div id="wrapper_popup_yaxis">
		<yaxis-popup
		  v-bind:globalPopup="globalPopup"
		  v-if="globalPopup.yaxis"
		  ></yaxis-popup>
	</div>
	<div id="wrapper_popup_preset">
		<preset-popup
	      v-bind:globalPopup="globalPopup"
		  v-if="globalPopup.presetSelection"
		  ></preset-popup>
	</div>
    <div id="wrapper_popup_export">
		<export-popup
	      v-bind:globalPopup="globalPopup"
		  v-if="globalPopup.export"
		  ></export-popup>
	</div>
</div>
<script src="js/uicode.js"></script>
</body>
</html>
