:root {
    --legend_right_max_width: 30vw;
}

* {
    font-family: Open Sans, Sans, Verdana;
    font-size: 11pt;
}

html {
    min-height: 100vh;
}

body {
    background-color: #EDEDED;
    min-height: 100vh;
}

.row_head {
    margin-bottom: 10px;
    box-shadow: 0px 1px 2px 1px #D0D0D0;
}

.wrapper_logo {
    float: left;
    width: 150px;
    margin-left: calc(50% - 75px - 6em - 2px);
}

.wrapper_headoptions {
    float: left;
    padding-top: 5px;
}

.button_head {
    margin: 14px 3px 3px 14px;
}

.wrapper_body {
    margin: 0px 10px 0px 10px;
    padding: 0 5px 0 5px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 1px 2px 1px #D0D0D0;
    flex: 1;
}

.row_foot_right {
    margin-left: -40px;
    padding-right: 10px;
}

.row_foot_bottom {
    overflow: auto;
    height: 10vh;
    width: 100vw;
}

.legend_item {
    padding: 0px 1px 0px 10px;
    display: inline-flex;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 1px #D0D0D0;
}

.legend_item_bottom {
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 5px;
}

.legend_item_right {
    min-width: 250px;
    max-width: var(--legend_right_max_width);
    margin-bottom: 10px;
}

.legend_item:hover {
    box-shadow: 2px 2px 3px 3px #B0B0B0;
}

.legend_item div {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0px #000000;
    position: relative;
    top: 2px;
    margin-top: 1px;
}

.legend_item img {
    width: 14px;
    height: 14px;
    position: relative;
    bottom: 1px;
}

#legend_list {
    list-style-type: none;
}

.legend_list_bottom {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;
}

.legend_list_right {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.legend_list_right_bottom {
    margin-top: auto;
}

.legend_end {
    justify-content: center;
}

#popup_veil {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.popup_div {
    display: block;
}

.button_resolution,
.button_zoom_speed {
    border: none;
    margin: 0px;
    padding: 0px 2px 0px 2px;
    transform: translate(0, -8px);
    background-color: transparent;
}

@keyframes gear_rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.modebar-btn .icon {
    width: 28px;
    height: 28px;
}

.navbar {
    align-items: center;
    justify-content: flex-start;
}

.navbar .btn {
    margin-right: 1vw;
}

.navbar span {
    position: relative;
    top: 2px;
}

.navbar input {
    position: relative;
    top: 3px;
    transform: scale(1.3);
}

.navimg {
    height: 20px;
    width: 20px;
}

.navbar-brand {
    align-self: flex-start;
    margin-right: auto;
}

.fullwidth {
    width: 100%;
    box-sizing: initial;
}

.btn-navbar {
    margin-top: 7px;
}

.body_and_legend_bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body_and_legend_right {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.clickable {
    cursor: pointer;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

.main_app {
    display: flex;
    flex-direction: column;
    height: 99vh;
}

/* Fix positions of tooltips. Known issue, see:
    https://github.com/bootstrap-vue/bootstrap-vue/issues/1732 */
.tooltip {
    top: 0;
}
