* {
    font-family: Open Sans, Sans, Verdana;
    font-size: 11pt;
}

html {
    min-height: 100vh;
}

body {
    background-color: #EDEDED;
    min-height: 100vh;
}

.row_head {
    margin-bottom: 10px;
}

.wrapper_logo {
    float: left;
    width: 150px;
    margin-left: calc(50% - 75px - 6em - 2px);
}

.wrapper_headoptions {
    float: left;
    padding-top: 5px;
}

.button_head {
    margin: 14px 3px 3px 14px;
}

.row_body {

}

.wrapper_body {
    border: 1px solid #c8c8c8;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 1px 2px 1px #D0D0D0;
}

.wrapper_body_right {
    width: 100%;
}

.row_foot {
    width: 100%;
    text-align: center;
}

.row_foot_right {
    margin-left: -40px;
}

#legend_list {
    list-style-type: none;
}

.legend_list_right {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

.legend_list_bottom {
    margin: 0px auto 0px auto;
}

.legend_item {
    display: inline-block;
    margin: 0px 4px 0px 0px;
    padding: 1px 1px 0px 1px;
    /*
    padding: 1px 4px 3px 2px;
    border: 1px solid #808080;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0px #a0a0a0;
    */
}

.legend_item:hover {
    box-shadow: 2px 2px 3px 3px #B0B0B0;
}

.legend_item div {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0px #000000;
    position: relative;
    top: 0.5px;
    left: 2px;
}

.legend_item img {
    width: 14px;
    height: 14px;
    position: relative;
    right: 2px;
    bottom: 1px;
}

#popup_veil {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.popup_div {
    display: block;
}

.button_resolution, .button_zoom_speed {
    border: none;
    margin: 0px;
    padding: 0px 2px 0px 2px;
    transform: translate(0, -8px);
    background-color: transparent;
}

@keyframes gear_rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.form-check-input {
    display: inline-block;
    height: 15px;
    margin-top: 16px;
}

.col-form-label, .leftalign {
    text-align: left;
}

.modebar-btn .icon {
    width: 28px;
    height: 28px;
}

.navbar {
    align-items: center;
    justify-content: flex-start;
}

.navbar .btn {
    margin-left: 12px;
    margin-right: 24px;
}

.navimg {
    height: 20px;
    width: 20px;
}

.navbar-brand {
    align-self: flex-start;
    margin-right: auto;
}

.fullwidth {
    width: 100%;
    box-sizing: initial;
}

.btn-navbar {
    margin-top: 7px;
}

.body_and_legend_bottom {
}

.body_and_legend_right {
    display: flex;
}
